## üìò Feature Scaling (√ñzellik √ñl√ßekleme)

### üîç Neden √ñzellik √ñl√ßekleme Gerekli?
Makine √∂ƒürenmesi algoritmalarƒ±nƒ±n √ßoƒüu, deƒüi≈ükenlerin √∂l√ßeklerinden etkilenir. √ñzellikle **mesafeye dayalƒ±** (k-NN, SVM, K-Means gibi) ve **gradiente dayalƒ±** algoritmalar (Lojistik Regresyon, Yapay Sinir Aƒülarƒ±) i√ßin √∂l√ßekleme √ßok √∂nemlidir.

√ñrneƒüin:
- Bir deƒüi≈ükenin deƒüerleri 0-1 arasƒ±nda, diƒüerinin 0-1000 arasƒ±nda olmasƒ± modelin dengesini bozabilir.
- B√ºy√ºk √∂l√ßekli deƒüi≈ükenler k√º√ß√ºk √∂l√ßeklileri baskƒ±lar.

### ‚öôÔ∏è Yaygƒ±n √ñl√ßekleme Y√∂ntemleri

#### 1. **Min-Max Scaling (Normalization)**
- Verileri belirli bir aralƒ±ƒüa (genelde 0 ile 1) sƒ±kƒ±≈ütƒ±rƒ±r.

> ‚ö†Ô∏è Aykƒ±rƒ± deƒüerlere kar≈üƒ± duyarlƒ±dƒ±r.

In [3]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

data = pd.DataFrame({
    "age": [18, 22, 30, 45, 60],
    "salary": [1000, 1500, 2000, 3000, 5000]
})

scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
pd.DataFrame(scaled_data, columns=data.columns)

        age  salary
0  0.000000   0.000
1  0.095238   0.125
2  0.285714   0.250
3  0.642857   0.500
4  1.000000   1.000

#### 2. **Standardization (Z-Score Normalization)**
- Ortalamasƒ± 0, standart sapmasƒ± 1 olan daƒüƒ±lƒ±ma d√∂n√º≈üt√ºr√ºr.
- 
> ‚úÖ Aykƒ±rƒ± deƒüerlere daha dayanƒ±klƒ±dƒ±r.

In [5]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
pd.DataFrame(scaled_data, columns=data.columns)

        age    salary
0 -1.093706 -1.060660
1 -0.836363 -0.707107
2 -0.321678 -0.353553
3  0.643356  0.353553
4  1.608391  1.767767

#### 3. **Robust Scaler**
- Ortanca (median) ve IQR (√ßeyrekler arasƒ± a√ßƒ±klƒ±k) kullanƒ±r.
- Aykƒ±rƒ± deƒüerlere kar≈üƒ± dayanƒ±klƒ±dƒ±r.

In [7]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
scaled_data = scaler.fit_transform(data)
pd.DataFrame(scaled_data, columns=data.columns)

        age    salary
0 -0.521739 -0.666667
1 -0.347826 -0.333333
2  0.000000  0.000000
3  0.652174  0.666667
4  1.304348  2.000000

## ‚úÖ √ñzet
- √ñzellik √∂l√ßekleme, makine √∂ƒürenmesi modellerinde daha hƒ±zlƒ± ve dengeli √∂ƒürenme saƒülar.
- En yaygƒ±n y√∂ntemler: **Min-Max**, **StandardScaler**, **RobustScaler**
- Hangi y√∂ntemin kullanƒ±lacaƒüƒ±, veri yapƒ±sƒ±na ve algoritmaya baƒülƒ±dƒ±r.